/* Media queries */

@media (min-width: 768px) {
  .reports-dropdown {
    width: 250px;
  }
}

@media (max-width: 991px) {
  .progress-wrapper {
    width: 45%;
    margin-left: 15px;
    float: left;
  }
  .construction-title {
    margin-bottom: 10px;
  }
  .construction-title a {
    float: left;
  }
}

/* Small devices, Tablets (up to 768px)  */

@media (max-width: 768px) {
  #main-nav {
    text-align: center;
  }
  #main-nav .navbar-nav {
    margin: 0 0 15px 0;
  }
  #main-nav .navbar-right > li > a {
    padding: 15px 5px;
  }
  #logo-wrapper a {
    width: auto;
  }
  #side-menu {
    padding-top: 56px;
  }
  #search_form {
    margin-top: 10px;
  }
}

/* Extra Small Devices, Phones  */

@media (max-width: 480px) {
  .progress-wrapper {
    width: 50%;
    margin-left: 15px;
    float: left;
  }
  .info-header ul {
    margin-bottom: 15px;
    width: 100%;
  }
  .info-header ul li {
    width: 25%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 0.9em;
  }
  .info-header .nav > li > a {
    padding: 10px 5px;
  }
  #search_form {
    width: 100%;
  }
}